In [111]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "Col_1": ["item1", "item2"],
    "Col_2": [10, 25],
    "Col_3": ["meow", "bark"]
    })
df

   Col_1  Col_2 Col_3
0  item1     10  meow
1  item2     25  bark

In [112]:
df.style \
  .format_index(str.upper, axis=1) \
  .hide() \

In [113]:
df = pd.DataFrame({'C': [2, 1], 'B': [3, 4]})
df.style.highlight_min(axis= , color='yellow')